// users
table#users {
    td.role {
        white-space: nowrap;
    }
    // hidding the radiobuttons & checkboxes
    input[type="radio"] {
        display: none;
        &:checked {
            + {
                // styling the "check" status
                label {
                    .fa-circle {
                        display: block;
                        color: $blue;
                    }
                    .far.fa-circle {
                        display: none;
                    }
                }
            }
        }
    }
    label {
        // styling radiobuttons
        .fa-circle {
            color: $gray-200;
        }
    }
}

#audit_log_table .audit_event_data {
    white-space: pre;
    font-family: monospace;
}

.search-popover {
    position: relative;
    left: -15px;
    z-index: 10;
    float: right;
    margin-top: 5px;
    margin-left: 5px;

    .popover {
        min-width: 30em;
    }
}
